.header__menu {
  font-family: Helvetica;
}

.menu__main {
  font-family: Helvetica;
}

.newspaper__title {
  font-family: Arial;
  text-align: center;
}

.menu__item {
  font-family: Helvetica;
}

.main__article {
  font-family: Helvetica;
}

.article__major {
  font-family: Helvetica;
}

.article__title {
  font-family: Helvetica;
}

.artocle__description {
  font-family: Arial;
}
.article__main {
  font-family: Arial;
}
